@use 'vars';

.ProductItem {
    width: 240px;
}
.ProductItem img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.ProductItem-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}
.ProductItem-info figure{
    margin: 0;
}
.ProductItem-info figure img{
    width: 35px;
    height: 35px;
}
.ProductItem-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.ProductItem-info div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}
@media (max-width: 640px) {
    .ProductItem {
        width: 140px;
    }
    .ProductItem img{
        width: 140px;
        height: 140px;
    }
}